:root {
  --font-family-sans: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  --font-family-sans--font-feature-settings: normal;
  --font-family-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --font-family-mono--font-feature-settings: normal;

  --font-size-small: 13px;
  --font-size-base: 14px;
  --font-size-large: 16px;
  --font-size-x-large: 20px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --line-height-normal: 130%;
  --line-height-large: 150%;
  --line-height-x-large: 180%;
  --line-height-2x-large: 200%;
  --letter-spacing-normal: 0;
  --letter-spacing-tight: -0.1599999964237213;
  --letter-spacing-tightest: -0.3199999928474426;
  --paragraph-spacing-base: 0;

  --spacing: 0.25rem;

  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;

  --container-3xs: 16rem;
  --container-2xs: 18rem;
  --container-xs: 20rem;
  --container-sm: 24rem;
  --container-md: 28rem;
  --container-lg: 32rem;
  --container-xl: 36rem;
  --container-2xl: 42rem;
  --container-3xl: 48rem;
  --container-4xl: 56rem;
  --container-5xl: 64rem;
  --container-6xl: 72rem;
  --container-7xl: 80rem;

  --radius-xs: 0.125rem;
  --radius-sm: 0.25rem;
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.625rem;

  --shadow-xs:
    0 1px 2px -0.5px light-dark(hsl(0 0% 0% / 0.04), hsl(0 0% 0% / 0.06)),
    0 0.5px 1.5px 0 light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.08)),
    0 1px 3px 0 light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.1));
  --shadow-md:
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.1)),
    0 4px 8px -2px light-dark(hsl(0 0% 0% / 0.075), hsl(0 0% 0% / 0.15)),
    0 1px 2px light-dark(hsl(0 0% 0% / 0.1), hsl(0 0% 0% / 0.15));
  --shadow-lg:
    0 16px 48px -6px light-dark(hsl(0 0% 0% / 0.05), hsl(0 0% 0% / 0.15)),
    0 6px 12px -2px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1)),
    0 1px 2.5px light-dark(hsl(0 0% 0% / 0.025), hsl(0 0% 0% / 0.1));
  --shadow-xxs-border: 0 0 0 0.5px var(--border-weak-base, rgba(0, 0, 0, 0.07));
  --shadow-xs-border:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-base:
    0 0 0 1px var(--border-weak-base, rgba(17, 0, 0, 0.12)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-select:
    0 0 0 3px var(--border-weak-selected, rgba(1, 103, 255, 0.29)),
    0 0 0 1px var(--border-selected, rgba(0, 74, 255, 0.99)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-xs-border-focus:
    0 0 0 1px var(--border-base, rgba(11, 6, 0, 0.2)), 0 1px 2px -1px rgba(19, 16, 16, 0.25),
    0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12), 0 0 0 2px var(--background-weak, #f1f0f0),
    0 0 0 3px var(--border-selected, rgba(0, 74, 255, 0.99));
  --shadow-xs-border-hover:
    0 0 0 1px var(--border-weak-selected, rgba(0, 112, 255, 0.22)), 0 1px 2px -1px rgba(19, 16, 16, 0.04),
    0 1px 2px 0 rgba(19, 16, 16, 0.06), 0 1px 3px 0 rgba(19, 16, 16, 0.08);
  --shadow-xs-border-critical-base: 0 0 0 1px var(--border-critical-selected, #fc543a);
  --shadow-xs-border-critical-focus:
    0 0 0 3px var(--border-critical-weak, rgba(251, 34, 0, 0.18)), 0 0 0 1px var(--border-critical-selected, #fc543a),
    0 1px 2px -1px rgba(19, 16, 16, 0.25), 0 1px 2px 0 rgba(19, 16, 16, 0.08), 0 1px 3px 0 rgba(19, 16, 16, 0.12);
  --shadow-lg-border-base:
    0 0 0 1px var(--border-weak-base, rgba(0, 0, 0, 0.07)), 0 36px 80px 0 rgba(0, 0, 0, 0.03),
    0 13.141px 29.201px 0 rgba(0, 0, 0, 0.04), 0 6.38px 14.177px 0 rgba(0, 0, 0, 0.05),
    0 3.127px 6.95px 0 rgba(0, 0, 0, 0.06), 0 1.237px 2.748px 0 rgba(0, 0, 0, 0.09);

  color-scheme: light;
  --text-mix-blend-mode: multiply;

  /* void0 fallback variables (light) */
  --background-base: #ffffff;
  --background-weak: #f4f4f4;
  --background-strong: #ffffff;
  --background-stronger: #fcfcfc;
  --surface-base: #f2f2f2;
  --base: #f2f2f2;
  --surface-base-hover: #e9e9e9;
  --surface-base-active: #e9e9e9;
  --surface-base-interactive-active: rgba(210, 252, 249, 0.3);
  --base2: #f2f2f2;
  --base3: #f2f2f2;
  --surface-inset-base: #f2f2f2;
  --surface-inset-base-hover: #e9e9e9;
  --surface-inset-strong: rgba(237, 237, 237, 0.09);
  --surface-inset-strong-hover: rgba(237, 237, 237, 0.09);
  --surface-raised-base: #f8f8f8;
  --surface-float-base: #202020;
  --surface-float-base-hover: #3f3f3f;
  --surface-raised-base-hover: #f2f2f2;
  --surface-raised-base-active: #e9e9e9;
  --surface-raised-strong: #ffffff;
  --surface-raised-strong-hover: #ffffff;
  --surface-raised-stronger: #ffffff;
  --surface-raised-stronger-hover: #ffffff;
  --surface-weak: #e9e9e9;
  --surface-weaker: #dfdfdf;
  --surface-strong: #ffffff;
  --surface-raised-stronger-non-alpha: #ffffff;
  --surface-brand-base: #0e9791;
  --surface-brand-hover: #118a85;
  --surface-interactive-base: #a1f1ec;
  --surface-interactive-hover: #86e7e1;
  --surface-interactive-weak: #b9f8f3;
  --surface-interactive-weak-hover: #a1f1ec;
  --surface-success-base: #a1f1ec;
  --surface-success-weak: #b9f8f3;
  --surface-success-strong: #0f6f6b;
  --surface-warning-base: #fdd9ad;
  --surface-warning-weak: #fee6c9;
  --surface-warning-strong: #825611;
  --surface-critical-base: #fed4d2;
  --surface-critical-weak: #fee2e0;
  --surface-critical-strong: #a63036;
  --surface-info-base: #9ff2ed;
  --surface-info-weak: #b7f9f4;
  --surface-info-strong: #056f6c;
  --surface-diff-unchanged-base: #ffffff00;
  --surface-diff-skip-base: #f9f9f9;
  --surface-diff-hidden-base: #f0f4f4;
  --surface-diff-hidden-weak: #f5f8f7;
  --surface-diff-hidden-weaker: #eaf0f0;
  --surface-diff-hidden-strong: #e0e9e8;
  --surface-diff-hidden-stronger: #d1dedd;
  --surface-diff-add-base: #d2fcf9;
  --surface-diff-add-weak: #e9fffd;
  --surface-diff-add-weaker: #f6fffe;
  --surface-diff-add-strong: #a1f1ec;
  --surface-diff-add-stronger: #0e9791;
  --surface-diff-delete-base: #feeeed;
  --surface-diff-delete-weak: #fff7f7;
  --surface-diff-delete-weaker: #fffcfc;
  --surface-diff-delete-strong: #fdc2bf;
  --surface-diff-delete-stronger: #bc4044;
  --input-base: #ffffff;
  --input-hover: #f9f9f9;
  --input-active: #f6fffe;
  --input-selected: #b9f8f3;
  --input-focus: #f6fffe;
  --input-disabled: #ededed;
  --text-base: #181818;
  --text-weak: #323232;
  --text-weaker: #4d4d4d;
  --text-strong: #090909;
  --text-invert-base: #f9f9f9;
  --text-invert-weak: #f4f4f4;
  --text-invert-weaker: #ededed;
  --text-invert-strong: #ffffff;
  --text-interactive-base: #118a85;
  --text-on-brand-base: #000000;
  --text-on-interactive-base: #000000;
  --text-on-interactive-weak: #000000;
  --text-on-success-base: #000000;
  --text-on-critical-base: #000000;
  --text-on-critical-weak: #000000;
  --text-on-critical-strong: #ffffff;
  --text-on-warning-base: #000000;
  --text-on-info-base: #000000;
  --text-diff-add-base: #0f6f6b;
  --text-diff-delete-base: #b13138;
  --text-diff-delete-strong: #4d040d;
  --text-diff-add-strong: #032d2b;
  --text-on-info-weak: #000000;
  --text-on-info-strong: #ffffff;
  --text-on-warning-weak: #000000;
  --text-on-warning-strong: #ffffff;
  --text-on-success-weak: #000000;
  --text-on-success-strong: #ffffff;
  --text-on-brand-weak: #000000;
  --text-on-brand-weaker: #000000;
  --text-on-brand-strong: #000000;
  --button-primary-base: #202020;
  --button-secondary-base: #ffffff;
  --button-secondary-hover: #f9f9f9;
  --button-ghost-hover: #f2f2f2;
  --button-ghost-hover2: #e9e9e9;
  --border-base: #c7c7c7;
  --border-hover: #b9b9b9;
  --border-active: #acacac;
  --border-selected: rgba(14, 151, 145, 0.99);
  --border-disabled: #d0d0d0;
  --border-focus: #acacac;
  --border-weak-base: #e3e3e3;
  --border-strong-base: #acacac;
  --border-strong-hover: #9e9e9e;
  --border-strong-active: #909090;
  --border-strong-selected: rgba(134, 231, 225, 0.6);
  --border-strong-disabled: #d9d9d9;
  --border-strong-focus: #909090;
  --border-weak-hover: #d5d5d5;
  --border-weak-active: #c7c7c7;
  --border-weak-selected: rgba(161, 241, 236, 0.5);
  --border-weak-disabled: #e7e7e7;
  --border-weak-focus: #c7c7c7;
  --border-weaker-base: #ececec;
  --border-interactive-base: #69d6d0;
  --border-interactive-hover: #43c1ba;
  --border-interactive-active: #0e9791;
  --border-interactive-selected: #0e9791;
  --border-interactive-disabled: #b4b4b4;
  --border-interactive-focus: #0e9791;
  --border-success-base: #69d6d0;
  --border-success-hover: #43c1ba;
  --border-success-selected: #0e9791;
  --border-warning-base: #eeb56d;
  --border-warning-hover: #d99e4e;
  --border-warning-selected: #b87c1f;
  --border-critical-base: #fda7a3;
  --border-critical-hover: #fb807e;
  --border-critical-selected: #bc4044;
  --border-info-base: #64d7d1;
  --border-info-hover: #3cc1bc;
  --border-info-selected: #23bcb6;
  --border-color: #ffffff;
  --icon-base: #323232;
  --icon-hover: #181818;
  --icon-active: #090909;
  --icon-selected: #090909;
  --icon-disabled: #b4b4b4;
  --icon-focus: #090909;
  --icon-invert-base: #ffffff;
  --icon-weak-base: #c9c9c9;
  --icon-weak-hover: #b4b4b4;
  --icon-weak-active: #939393;
  --icon-weak-selected: #6a6a6a;
  --icon-weak-disabled: #d9d9d9;
  --icon-weak-focus: #939393;
  --icon-strong-base: #202020;
  --icon-strong-hover: #151313;
  --icon-strong-active: #020202;
  --icon-strong-selected: #020202;
  --icon-strong-disabled: #b4b4b4;
  --icon-strong-focus: #020202;
  --icon-brand-base: #202020;
  --icon-interactive-base: #0e9791;
  --icon-success-base: #69d6d0;
  --icon-success-hover: #118a85;
  --icon-success-active: #0f6f6b;
  --icon-warning-base: #f8ae84;
  --icon-warning-hover: #9c4f1a;
  --icon-warning-active: #924a1a;
  --icon-critical-base: #b13138;
  --icon-critical-hover: #b13138;
  --icon-critical-active: #a63036;
  --icon-info-base: #64d7d1;
  --icon-info-hover: #3cc1bc;
  --icon-info-active: #056f6c;
  --icon-on-brand-base: #000000;
  --icon-on-brand-hover: #000000;
  --icon-on-brand-selected: #000000;
  --icon-on-interactive-base: #000000;
  --icon-agent-plan-base: #23bcb6;
  --icon-agent-docs-base: #a75b2a;
  --icon-agent-ask-base: #27c4ab;
  --icon-agent-build-base: #0e9791;
  --icon-on-success-base: #000000;
  --icon-on-success-hover: #ffffff;
  --icon-on-success-selected: #ffffff;
  --icon-on-warning-base: #000000;
  --icon-on-warning-hover: #ffffff;
  --icon-on-warning-selected: #ffffff;
  --icon-on-critical-base: #000000;
  --icon-on-critical-hover: #ffffff;
  --icon-on-critical-selected: #ffffff;
  --icon-on-info-base: #000000;
  --icon-on-info-hover: #ffffff;
  --icon-on-info-selected: #ffffff;
  --icon-diff-add-base: #0f6f6b;
  --icon-diff-add-hover: #032d2b;
  --icon-diff-add-active: #032d2b;
  --icon-diff-delete-base: #b13138;
  --icon-diff-delete-hover: #a63036;
  --icon-diff-modified-base: #79500e;
  --syntax-comment: var(--text-weak);
  --syntax-regexp: var(--text-base);
  --syntax-string: #0c6764;
  --syntax-keyword: #036765;
  --syntax-primitive: #0c6764;
  --syntax-operator: var(--text-base);
  --syntax-variable: var(--text-strong);
  --syntax-property: #036765;
  --syntax-type: #79500e;
  --syntax-constant: #036765;
  --syntax-punctuation: var(--text-base);
  --syntax-object: var(--text-strong);
  --syntax-success: #0f6f6b;
  --syntax-warning: #924a1a;
  --syntax-critical: #a63036;
  --syntax-info: #036765;
  --syntax-diff-add: #0f6f6b;
  --syntax-diff-delete: #a63036;
  --syntax-diff-unknown: #ff0000;
  --markdown-heading: #0c6764;
  --markdown-text: #181818;
  --markdown-link: #0c6764;
  --markdown-link-text: #036765;
  --markdown-code: #0c6764;
  --markdown-block-quote: #79500e;
  --markdown-emph: #79500e;
  --markdown-strong: #036765;
  --markdown-horizontal-rule: #c7c7c7;
  --markdown-list-item: #0c6764;
  --markdown-list-enumeration: #036765;
  --markdown-image: #0c6764;
  --markdown-image-text: #036765;
  --markdown-code-block: #181818;
  --avatar-background-pink: #feeef8;
  --avatar-background-mint: #e1fbf4;
  --avatar-background-orange: #fff1e7;
  --avatar-background-purple: #f9f1fe;
  --avatar-background-cyan: #e7f9fb;
  --avatar-background-lime: #eefadc;
  --avatar-text-pink: #cd1d8d;
  --avatar-text-mint: #147d6f;
  --avatar-text-orange: #ed5f00;
  --avatar-text-purple: #8445bc;
  --avatar-text-cyan: #0894b3;
  --avatar-text-lime: #5d770d;
  --text-stronger: #090909;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
    --text-mix-blend-mode: plus-lighter;

    /* void0 fallback variables (dark) */
    --background-base: #000000;
  --background-weak: #000000;
  --background-strong: #000000;
  --background-stronger: #000000;
  --surface-base: #111111;
  --base: #111111;
  --surface-base-hover: #191919;
  --surface-base-active: #191919;
  --surface-base-interactive-active: rgba(1, 18, 18, 0.3);
  --base2: #111111;
  --base3: #111111;
  --surface-inset-base: #111111;
  --surface-inset-base-hover: #191919;
  --surface-inset-strong: rgba(0, 0, 0, 0.5);
  --surface-inset-strong-hover: rgba(0, 0, 0, 0.5);
  --surface-raised-base: #0a0a0a;
  --surface-float-base: #000000;
  --surface-float-base-hover: #000000;
  --surface-raised-base-hover: #111111;
  --surface-raised-base-active: #191919;
  --surface-raised-strong: #232323;
  --surface-raised-strong-hover: #3f3f3f;
  --surface-raised-stronger: #3f3f3f;
  --surface-raised-stronger-hover: #545454;
  --surface-weak: #191919;
  --surface-weaker: #232323;
  --surface-strong: #545454;
  --surface-raised-stronger-non-alpha: #000000;
  --surface-brand-base: #159b97;
  --surface-brand-hover: #22aca7;
  --surface-interactive-base: #0e4c49;
  --surface-interactive-hover: #026865;
  --surface-interactive-weak: #063635;
  --surface-interactive-weak-hover: #0e4c49;
  --surface-success-base: #0e4c49;
  --surface-success-weak: #063635;
  --surface-success-strong: #0df2eb;
  --surface-warning-base: #5a3a05;
  --surface-warning-weak: #422901;
  --surface-warning-strong: #fdc986;
  --surface-critical-base: #7c0c1d;
  --surface-critical-weak: #5c0412;
  --surface-critical-strong: #fcc3c1;
  --surface-info-base: #084c4a;
  --surface-info-weak: #033735;
  --surface-info-strong: #3cf0eb;
  --surface-diff-unchanged-base: #000000;
  --surface-diff-skip-base: #0a0a0a;
  --surface-diff-hidden-base: #131a1a;
  --surface-diff-hidden-weak: #0b0f0f;
  --surface-diff-hidden-weaker: #182221;
  --surface-diff-hidden-strong: #233130;
  --surface-diff-hidden-stronger: #394f4e;
  --surface-diff-add-base: #011212;
  --surface-diff-add-weak: #021b1a;
  --surface-diff-add-weaker: #011212;
  --surface-diff-add-strong: #022725;
  --surface-diff-add-stronger: #0df2eb;
  --surface-diff-delete-base: #250003;
  --surface-diff-delete-weak: #320106;
  --surface-diff-delete-weaker: #250003;
  --surface-diff-delete-strong: #44010a;
  --surface-diff-delete-stronger: #fcc3c1;
  --input-base: #000000;
  --input-hover: #000000;
  --input-active: #0e4c49;
  --input-selected: #026865;
  --input-focus: #0e4c49;
  --input-disabled: #010101;
  --text-base: #ffffff;
  --text-weak: #999999;
  --text-weaker: #757575;
  --text-strong: #ffffff;
  --text-invert-base: #cccccc;
  --text-invert-weak: #585858;
  --text-invert-weaker: #303030;
  --text-invert-strong: #fafafa;
  --text-interactive-base: #0df2eb;
  --text-on-brand-base: #000000;
  --text-on-interactive-base: #ffffff;
  --text-on-interactive-weak: #ffffff;
  --text-on-success-base: #ffffff;
  --text-on-critical-base: #ffffff;
  --text-on-critical-weak: #ffffff;
  --text-on-critical-strong: #000000;
  --text-on-warning-base: #ffffff;
  --text-on-info-base: #ffffff;
  --text-diff-add-base: #0df2eb;
  --text-diff-delete-base: #e73446;
  --text-diff-delete-strong: #fafafa;
  --text-diff-add-strong: #026865;
  --text-on-info-weak: #ffffff;
  --text-on-info-strong: #000000;
  --text-on-warning-weak: #ffffff;
  --text-on-warning-strong: #000000;
  --text-on-success-weak: #ffffff;
  --text-on-success-strong: #000000;
  --text-on-brand-weak: #000000;
  --text-on-brand-weaker: #000000;
  --text-on-brand-strong: #000000;
  --button-primary-base: #fafafa;
  --button-secondary-base: #000000;
  --button-secondary-hover: #010101;
  --button-ghost-hover: #111111;
  --button-ghost-hover2: #191919;
  --border-base: #434343;
  --border-hover: #4e4e4e;
  --border-active: #585858;
  --border-selected: rgba(21, 155, 151, 0.9);
  --border-disabled: #393939;
  --border-focus: #585858;
  --border-weak-base: #2f2f2f;
  --border-strong-base: #585858;
  --border-strong-hover: #626262;
  --border-strong-active: #6c6c6c;
  --border-strong-selected: rgba(6, 54, 53, 0.6);
  --border-strong-disabled: #343434;
  --border-strong-focus: #6c6c6c;
  --border-weak-hover: #393939;
  --border-weak-active: #434343;
  --border-weak-selected: rgba(2, 39, 37, 0.6);
  --border-weak-disabled: #2a2a2a;
  --border-weak-focus: #434343;
  --border-weaker-base: #252525;
  --border-interactive-base: #0e4c49;
  --border-interactive-hover: #026865;
  --border-interactive-active: #159b97;
  --border-interactive-selected: #159b97;
  --border-interactive-disabled: #303030;
  --border-interactive-focus: #159b97;
  --border-success-base: #0e4c49;
  --border-success-hover: #026865;
  --border-success-selected: #159b97;
  --border-warning-base: #5a3a05;
  --border-warning-hover: #7a510e;
  --border-warning-selected: #af761a;
  --border-critical-base: #7c0c1d;
  --border-critical-hover: #a5192b;
  --border-critical-selected: #c61733;
  --border-info-base: #084c4a;
  --border-info-hover: #146765;
  --border-info-selected: #26aba7;
  --border-color: #ffffff;
  --icon-base: #8f8f8f;
  --icon-hover: #cccccc;
  --icon-active: #fafafa;
  --icon-selected: #fafafa;
  --icon-disabled: #191919;
  --icon-focus: #fafafa;
  --icon-invert-base: #000000;
  --icon-weak-base: #0a0a0a;
  --icon-weak-hover: #fafafa;
  --icon-weak-active: #585858;
  --icon-weak-selected: #585858;
  --icon-weak-disabled: #010101;
  --icon-weak-focus: #585858;
  --icon-strong-base: #fafafa;
  --icon-strong-hover: #f6f3f3;
  --icon-strong-active: #fcfcfc;
  --icon-strong-selected: #fdfcfc;
  --icon-strong-disabled: #303030;
  --icon-strong-focus: #fdfcfc;
  --icon-brand-base: #ffffff;
  --icon-interactive-base: #159b97;
  --icon-success-base: #159b97;
  --icon-success-hover: #22aca7;
  --icon-success-active: #0df2eb;
  --icon-warning-base: #ab5f1a;
  --icon-warning-hover: #c26806;
  --icon-warning-active: #fbc8a3;
  --icon-critical-base: #c61733;
  --icon-critical-hover: #e73446;
  --icon-critical-active: #fcc3c1;
  --icon-info-base: #26aba7;
  --icon-info-hover: #33bdb9;
  --icon-info-active: #3cf0eb;
  --icon-on-brand-base: #000000;
  --icon-on-brand-hover: #000000;
  --icon-on-brand-selected: #000000;
  --icon-on-interactive-base: #ffffff;
  --icon-agent-plan-base: #26aba7;
  --icon-agent-docs-base: #ab5f1a;
  --icon-agent-ask-base: #32b7a2;
  --icon-agent-build-base: #0df2eb;
  --icon-on-success-base: #ffffff;
  --icon-on-success-hover: #000000;
  --icon-on-success-selected: #000000;
  --icon-on-warning-base: #ffffff;
  --icon-on-warning-hover: #000000;
  --icon-on-warning-selected: #000000;
  --icon-on-critical-base: #ffffff;
  --icon-on-critical-hover: #000000;
  --icon-on-critical-selected: #000000;
  --icon-on-info-base: #ffffff;
  --icon-on-info-hover: #000000;
  --icon-on-info-selected: #000000;
  --icon-diff-add-base: #0df2eb;
  --icon-diff-add-hover: #22aca7;
  --icon-diff-add-active: #0df2eb;
  --icon-diff-delete-base: #e73446;
  --icon-diff-delete-hover: #fcc3c1;
  --icon-diff-modified-base: #fcd8ab;
  --syntax-comment: #666666;
  --syntax-regexp: var(--text-base);
  --syntax-string: #D4A05A;
  --syntax-keyword: #55C5C0;
  --syntax-primitive: #7DD5D1;
  --syntax-operator: #999999;
  --syntax-variable: #FFFFFF;
  --syntax-property: #7DD5D1;
  --syntax-type: #55C5C0;
  --syntax-constant: #D4A05A;
  --syntax-punctuation: #666666;
  --syntax-object: #FFFFFF;
  --syntax-success: #0df2eb;
  --syntax-warning: #fbc8a3;
  --syntax-critical: #fcc3c1;
  --syntax-info: #3afdf8;
  --syntax-diff-add: #0df2eb;
  --syntax-diff-delete: #fcc3c1;
  --syntax-diff-unknown: #ff0000;
  --markdown-heading: #55C5C0;
  --markdown-text: #FFFFFF;
  --markdown-link: #7DD5D1;
  --markdown-link-text: #55C5C0;
  --markdown-code: #D4A05A;
  --markdown-block-quote: #999999;
  --markdown-emph: #7DD5D1;
  --markdown-strong: #FFFFFF;
  --markdown-horizontal-rule: #333333;
  --markdown-list-item: #55C5C0;
  --markdown-list-enumeration: #7DD5D1;
  --markdown-image: #7DD5D1;
  --markdown-image-text: #55C5C0;
  --markdown-code-block: #FFFFFF;
  --avatar-background-pink: #501b3f;
  --avatar-background-mint: #033a34;
  --avatar-background-orange: #5f2a06;
  --avatar-background-purple: #432155;
  --avatar-background-cyan: #0f3058;
  --avatar-background-lime: #2b3711;
  --avatar-text-pink: #e34ba9;
  --avatar-text-mint: #95f3d9;
  --avatar-text-orange: #ff802b;
  --avatar-text-purple: #9d5bd2;
  --avatar-text-cyan: #369eff;
  --avatar-text-lime: #c4f042;
  --text-stronger: #ffffff;
  }
}
